[Unit]
Description=My Node.js App
After=network.target

[Service]
User={{ ansible_user }}
# CAMBIO: Añadido /app a las rutas
WorkingDirectory=/home/{{ ansible_user }}/apps/myapp/app
ExecStart=/usr/bin/node /home/{{ ansible_user }}/apps/myapp/app/index.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
